.travel-info {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-content: space-between;

}


.travel-image{
    width: 60%;
    height: 100%;
}